version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3001
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:5432/${POSTGRES_DB}
      SCHEDULE_SERVICE: http://localhost:3002
    ports:
      - "3001:3001"
    depends_on:
      - postgres

  schedule-service:
    build:
      context: ./schedule-service
      dockerfile: Dockerfile
    container_name: schedule-service
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3002
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:5432/${SCHEDULE_DB}
      AUTHENTICATION_SERVICE: http://localhost:3001
    ports:
      - "3002:3002"
    depends_on:
      - postgres

volumes:
  postgres_data:
